  .card {
    padding-bottom: 1.5rem;
    text-align: center;
  }
  
  .card_image {
    border-radius: 5%;
    max-width: 70%;
    height: auto;
    display: block;
    margin: 10px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
    0 6px 20px rgba(0, 0, 0, 0.19); /* Add shadow effect */
    caret-color: transparent;
  }

  .card_text {
    font-size: x-large;
  }

  .carousel_container {
    padding: 2rem 0 2rem 0;
  }

  .scroll_container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .scroll_container a{
    color: black;
    font-size: xx-large;
  }
 