.image_div {
	background-image: url("../../assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.mask a {
	font-size: xx-large;
	color: rgb(255, 249, 171);
}

.mask {
	background-color: rgba(0, 0, 0, 0.6);
	height: calc(100vh - 3rem);
}

.title_text {
	font-family: "Oswald";
}
