.image_div {
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* Default height for small devices */
#sizer {
    height: 500px;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    height: 500px;
}

.mask a {
    font-size: xx-large;
    color: rgb(255, 249, 171);
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
    .mask {
        background-color: rgba(0, 0, 0, 0.6);
        height: calc(100vh - 3rem);
    }

    #sizer {
        height: calc(100vh - 3rem);
    }
}

.title_text {
    font-family: 'Oswald';
}