.section_container {
	background-color: #212121;
}

.text_container {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-family: "Oswald";
	font-style: italic;
}

.text {
	font-size: medium;
	margin: 0.5rem 1rem;
	text-align: center;
}

.small_image {
	width: 1rem;
	height: auto;
}
